.x-btn-default-small .x-btn-glyph {
    opacity: 1;
}

.x-title-icon .x-title-icon-default .x-title-glyph {
    color: brown;
}

.x-panel-header-title-default .x-title-icon-wrap-default .x-title-glyph {
    color: brown;
}

.person-form .x-panel-header-default-framed .x-panel-header-glyph {
    color: brown;
}

/*采购订单状态进度条样式*/
.status {
    /*margin-left: 20px;*/
    /*margin-bottom: 150px;*/
    /*margin-top: -20px;*/
    /*width: 100%;*/
}

.status .dot_text {
    text-align: center;
    border: none;
    text-align: center;
}

.status .text {

    border: none;
    text-align: center;
    /* margin-left: -15px; */
    position: relative;
    left: -10px;
    top: 3px;
}

.dot {
    border-radius: 87px;
    background: red;
    width: 15px;
    height: 15px;
    display: inline-block;
    /*margin-left: -3px;*/
    border: none;
}

.line {
    display: inline-block;
    height: 2px;
    width: 85px;
    /* z-index: 1; */
    background: green;
    position: relative;
    /* left: 0px; */
    top: -6px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: #0088cc;
}

/*采购订单状态进度条样式*/

.columnActionIcon1 {
    margin-left: 10px;
    background-image: url("images/next.png");
}

.columnActionIcon2 {
    margin-left: 10px;
    background-image: url("images/accept.png");
}

.columnActionIcon3 {
    margin-left: 10px;
    background-image: url("images/chart_bar.png");
}

.columnActionIcon4 {
    margin-left: 10px;
    background-image: url("images/setfieldrole.png");
}

.homeIcon {
    background-size: contain;
    background-image: url("images/home.png");
}

.logoutIcon {
    background-size: contain;
    background-image: url("images/system-log-out.png");
}

.purchaseIcon {
    background-size: contain;
    background-image: url("images/cart.png");
}

.goodsIcon {
    background-size: contain;
    background-image: url("images/goods.png");
}

.warehouseIcon {
    background-size: contain;
    background-image: url("images/storehouse_400.png");
}

.memberIcon {
    background-size: contain;
    background-image: url("images/users.png");
}

.operationIcon {
    background-size: contain;
    background-image: url("images/61413.png");
}

.financialIcon {
    background-size: contain;
    background-image: url("images/emblem-money.png");
}

.reportIcon {
    background-size: contain;
    background-image: url("images/report.png");
}

.systemIcon {
    background-size: contain;
    background-image: url("images/emblem-system.png");
}

.helpIcon {
    background-size: contain;
    background-image: url("images/help.png");
}

.aboutIcon {
    background-size: contain;
    background-image: url("images/about.png");
}

.contactIcon {
    background-size: contain;
    background-image: url("images/contact.png");
}

.userIcon {
    background-size: contain;
    background-image: url("images/user.png") !important;
}

.addIcon {
    background-size: contain;
    background-image: url("images/new.png");
}

.delIcon {
    background-size: contain;
    background-image: url("images/delete.png");
}

.editIcon {
    background-size: contain;
    background-image: url("images/edit.png");
}

.viewIcon {
    background-size: contain;
    background-image: url("images/search.png");
}

.importIcon {
    background-size: contain;
    background-image: url("images/import.png");
}

.scanIcon {
    background-size: contain;
    background-image: url("images/scan.png");
}

.saveIcon {
    background-size: contain;
    background-image: url("images/save.png");
}

.columnAction {
    margin-left: 5px;
}

.userEditIcon {
    background-size: contain;
    background-image: url("images/user-edit.png");
}

.goods_pic {
    background-size: contain;
}

.x-btn-default-toolbar-small {
    border-radius: 0px !important;
}

.x-btn-default-small {
    border-radius: 0px !important;
}
